@import "bourbon";

$white: #FDFFFC;


$grey: #cccccc;


$igem-green: #005253;
$igem-green-u1: #006A6B;
$igem-green-u2: #008888;
$igem-green-u3: #01ACAC;
$igem-green-d: #396756;
$blue-base: #3B8EA5;
$blue-shade-d1: #2D728F;
$igem-green-fade: rgba(0, 82, 83, 0.9);
//4F6D7A
