@import "bourbon";
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Mitr|PT+Sans|Ubuntu');
$mitr: 'Mitr', sans-serif;
$droid: 'Droid Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$pt: 'PT Sans', sans-serif;
