/*
Overriding CSS File 
Created by Varun Kulkarni: Rock Ridge iGEM
*/

/************HTML OVERRIDE************/
footer{background-color:#000000;height:100px;}
a{text-decoration: none;}
a:hover{text-decoration: none;}


section{margin: 0;}
/***********############**********/


/******NAVIGATION******/
.navbar-default{background-color: #FFFFFF;}
navbar-toggle{color:#FFFFFF;}

#Team{color:#000000;}
#Team:focus{color:#FFFFFF;}
#Project{color: #000000;}
#Project:focus{color: #FFFFFF;}
#Outreach{color: #000000;}
#Project:focus{color: #FFFFFF;}
#calendar{color: #000000;}
#calendar:focus{color: #FFFFFF}
.nav-link{font-size: 1.3em; height: 2.45em;}

.sublink-head{font-size: 1.3em;}
.sublink{background-color: #FFFFFF;}

.nav-image-wrap{
    background-color: #CCCCCC;
}
.nav-image-wrap:hover{
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    background-color: #FFFFFF;
}   

/***********############**********/



/****INDEX****/
#gear-1{
    left: 50%;
    transform: translate(-50%);
}
#gear-2{
    display: none;
}
.HERO{
    height: 40vh;
}
.SuperHeader{
    padding-top: 20%;
    font-size: 3em;
}
.HERO_bg{
    background-repeat: no-repeat;
    background-image: url("../images/index/deer-tick-996x504.jpg");
    max-height: 100%;
    max-width: 100%;
}
.index-about-button{
    line-height: 4em;
    height: 8em;
}
.inside-button-text{
    font-size: 1em;
}
#team-index-bg{
    height: 100px;
}
/***********############**********/


/****General Content Styles****/
.jumbotron{background-color: inherit;}
@font-face{
    font-family: "Russo One";
    src: url("../../fonts/RussoOne-Regular.ttf")
}
.main-page-header{
    font-family: "Russo One" "Verdana";
    font-size: 4em;
    text-align: center;
}
.main-less{
    font-size: 3.3em;
}
.header-1{
    font-size: 2.0em;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: #6A0000;
}
.std-text{
    color: #0F0000;
    font-family: "Arial";
    font-size: 1em;
    line-height: 140%;
}

/***********############**********/

/*******About the Team********/
#plasmid-box{
    height: 600px;
    width: 600px;
    margin: 0 auto;  
    
}
.shrinker{
    width: 125px;
    height: 125px;
}
/***********############**********/

/******Sponsors*******/
.logo{
    max-width: 100%;
    max-width: 100%;
    border-bottom: 3px;
    border-bottom-color: #00FF00;

}
/***********############**********/

/*******Projects*******/
#parralax-image-1{
    background: url("../images/project_Lyme/62976-200.png") repeat;
    background-attachment: fixed;
    height: 10em;
}
#parralax-image-2{
    background: url("../images/project_Lyme/0.jpeg") repeat;
    background-attachment: fixed;
    height: 17em;
}
#parralax-image-3{
    background: url("../images/project_Lyme/62976-200.png") repeat;
    background-attachment: fixed;
    height: 17em;
}
#parralax-image-4{
    background: url("../images/project_Lyme/0.jpeg") repeat;
    background-attachment: fixed;
    height: 17em;
}