/*
Overriding CSS File 
Created by Varun Kulkarni: Rock Ridge iGEM
*/

/**Across the board**/
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{max-width: 100%;   max-height: 100%;}

body{
    background-color: #EEEEEE;
}

/*body{
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-image: url("../images/universal/bg.jpg");
}
@media screen and(max-width: 1000px){
    body{
        background-image: none;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #B2CEE3;
    }
}



/******NAVIGATION******/
.navbar-default{background-color: #702424;}

#theMainNav{margin: 0; padding: 0;}

.icon-bar{color:#000000;}

navbar-toggle{color:#000000;}

.link-formatting{
    font-size: 1.3em;
    display: inline-block;
}
.link-formatting:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    color: #000000;
    background-color: #FFFFFF;
}
.icon-bar{
    background-color: #FFFFFF; 
}

.nav-image-wrap{
    background-color: #CCCCCC;
    
}
.nav-image-wrap:hover{
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    background-color: #FFFFFF;
}

#About_Team{
    font-family: "Arial";
    color: #FFFFFF;
}
#About_Team:hover{
    background-color: #FFFFFF;
    color: #000000;
}
#Project{
    font-family: "Arial";
    color: #FFFFFF;
}
#Project:hover{
    background-color: #FFFFFF;
    color: #000000;
}



/***Landing page***/
.stretch{
    width: inherit;
    max-height: auto;
}
#land-section-one{
    width: inherit;
    height: 10em;
    background-color: #FFFFFF;
}
.left-align-sm{
    float: right;
}
.sm-box{
    width: 100%;
    height: 100%;
}
.index-descript-one{
    background-color: #6A0000;
}


/****General Content Styles****/
.main-page-header{
    font-family: "Verdana";
    font-size: 4em;
    text-align: center;
}
.jumbotron{
    background-color: #ccc;
}

.content-header-1-left{
    font-family: "Arial";
    font-size: 3em;
    color: #CC3300;
    font-weight: bold;
    background-color: #D5D5D5;
}
.content-sub-1{
    font-family: "Verdana";
    font-size: 2.3em;
    color: #1F1F2E;   
}
.standard-text-1{
    font-family: "Arial";
    font-size: 1.3em;
    text-indent: 1em;
}
.standard-text-1-white{
    font-family: "Arial";
    font-size: 1.3em;
    text-indent: 1em;
    color: #FFFFFF;
}
.row{
    background-color: none;
    opacity: 100%;
}

.layerOffSection{
    background-color: transparent;
}
.layerOnSection{
    background-color: #FFFFFF;
}

.outline{
    border-style: solid;
}
#spotlight{
    width: 30%; 
    height: 30%; 
    background-color: #FFFFFF;
}
