/*
Overriding CSS File 
Created by Varun Kulkarni: Rock Ridge iGEM
*/

/************HTML OVERRIDE************/
footer{background-color:#000000;height:100px;}
a{text-decoration: none;}
a:hover{text-decoration: none;}

body{background-color: #EEEEEE;}
section{margin: 0;}



/******NAVIGATION******/
.navbar-default{background-color: #18BD09;}
navbar-toggle{color:#FFFFFF;}

#Team{color:#FFFFFF;}
#Team:focus{color:#000000;}
#Project{color: #FFFFFF;}
#Project:focus{color: #000000;}
#Outreach{color: #FFFFFF;}
#Project:focus{color: #000000;}
.nav-link{font-size: 1.3em; height: 3.45em;}

.sublink-head{font-size: 1.3em;}
.sublink{background-color: #FFFFFF;}

.nav-image-wrap{background-color: #CCCCCC;}
.nav-image-wrap:hover{
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    background-color: #FFFFFF;
}

/***END NAVIGATION****/

/***Landing page***/
.stretch{
    width: inherit;
    max-height: auto;
}
/***END LANDING PAGE***/

/***********PANELS***************/

.panel{width: inherit;}
#panel-index-hero{
    background-color: inherit;
    height: 30em;
}
#panel-index-project{
    background-color: #18BD09;
    height: 20em;
}
#panel-index-team{
    background-color: #DDDDDD;
    height: 25em;
}
#index-team-fixed{
    opacity: 0.9;
    position: fixed;
}

/****END PANELS*****/


/****General Content Styles****/

.jumbotron{background-color: #ccc;}
.main-page-header{
    font-family: "Verdana";
    font-size: 4em;
    text-align: center;
}
.header-1{font-size: 3em;}
.header-dark{color: #000000;}
.header-dRed{color: #6A0000;}
.header-light{color: #F7F7F7;}
.font-Arial{font-family: "Arial";}

.standard-text-1{
    font-family: "Arial";
    font-size: 1.3em;
    text-indent: 1em;
}
.standard-text-1-white{
    font-family: "Arial";
    font-size: 1.3em;
    text-indent: 1em;
    color: #FFFFFF;
}
.row{
    background-color: none;
    opacity: 100%;
}

.layer-off-section{
    background-color: inherit;
}
.layer-on-section{
    background-color: inherit;
}


/*******About the Team********/
#plasmid-box{
    height: 600px;
    width: 600px;
    margin: 0 auto;   
}
.shrinker{
    width: 125px;
    height: 125px;
}
/******Sponsors*******/
.logo{
    max-width: 100%;
    max-width: 100%;
    border-bottom: 3px;
    border-bottom-color: #00FF00;
}