@import "compass/reset";
@import "fonts";
@import "colors";

@mixin nav-hover(){
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    border-left: 3px solid $blue-2;
    border-right: 3px solid $blue-2;
    color: $blue-2;
}
@mixin page-header{
    font-family: $droid-sans;
    font-size: 1.6em;
    line-height: 170%;
    color: $imp-blue;
}
@mixin centerH(){
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
@mixin centerV(){
    //position: absolute;
    margin-top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
@mixin rotate($deg){
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -ms-transform: rotate($deg);
}
@mixin miniHeader(){
    font-family: $droid-sans;
    color: $dark-red;
    text-decoration: underline;
    text-decoration-color: black;
}
@mixin stellar-bg(){
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}