@import "compass/reset";
@import "fonts";
@import "colors";

@mixin nav-hover(){
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    border: 3px solid $nav-hover;
    color: $nav-hover;
}
@mixin page-header{
    font-family: $head-font-family-l;
    font-size: 1.6em;
    line-height: 170%;
    color: $red;
}
@mixin index-bg(){
    /*background-attachment: fixed;
    z-index: -1;
    height: 80vh;
    @media screen and (max-width: 50em){
        height: 20vh;
        
    }
    background-size: contain;
    background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
    
}

@mixin awesome-indexbar{
    text-align: center;
    background-color: $igem-blue;
    p{
        font-family: "Mitr", sans-serif;
        font-size: 3rem;
        color: $white;
    }
}