@import "compass/reset";
@import "bootstrap-compass";
@import "bootstrap";
@import "colors";
@import "fonts";
@import "mixins";

nav{
    margin: 0;
    font-family: $mitr;
    .navbar-brand{
        margin: 0;
        padding: 0;
        background-color: #cccccc;
        img{
            height: inherit;
        }
    }
    li{
        color: $igem-blue;
        margin-left: 10px;
    }
    a:hover{
        @include nav-hover();
    }
    .active{
        background: $igem-blue-faded !important;
        color: $white !important;
    }
}

#index-blur{  
    background: url("/images/blur.jpg");
    background-size: cover;
}

.jumbotron{
    font-family: $jumbotron-font;
    background: none;
    h1{
        color: $igem-blue;
        text-align: center;
    }
}

#plasmid-container{
    width: 100%;
    max-height: 500px;
    #cont-big-img{
        position: relative;
        @include centerH();
        width: inherit;
        height: inherit;

        #theActualImage{
            width: inherit;
            #deltaImg{
                height: inherit;
                @media screen and (max-width: 50em){
                    width: inherit;
                }
                @include centerH();
            }
            #plasmid-flash{
                background-color: rgba(0, 82, 83, 0.6);
                color: $white;
                width: 50%;
                overflow: scroll;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                margin-top: auto;
                border-radius: 1em;
                padding: 10px;
            }
        }
    }
}
#button-bank{
    button{
        color: $blue-2;
        font-family: $body-font;
    }
    button:hover{
        background-color: $igem-blue;
        color: $white;
        border-color: $igem-blue;
    }
}
#faces{
    position: absolute;
    align-content: center;
    img{
        @include centerH();
        width: 150px;
        @media screen and (max-width: 50em){
            width: 100px;
        }
    }

}
#right{
    float: right;
}

#foursquare{
    position: relative;
    #index-square{
        width: 150px;
        height: 150px;
        border-radius: 2em;
        overflow: hidden;
        display: block;
        background: url("/images/index/hero.png") no-repeat center #ccc;
        background-size: contain;   
        position: absolute;
        top: -webkit-calc(50% - 75px);
        top:    -moz-calc(50% - 75px);
        top:     -ms-calc(50% - 75px);
        top:         calc(50% - 75px);
        left: -webkit-calc(50% - 75px);
        left:    -moz-calc(50% - 75px);
        left:     -ms-calc(50% - 75px);
        left:         calc(50% - 75px);        
    }
}
.four-section{
    height: 50vh;
    font-family: $droid-sans;
    position: relative;
    h1{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4em;
        text-align: center;
    }
    @media screen and (max-width: 50em){
        h1{
            font-size: 3em;
        }
    }
}
#proj{
    color: $white;
    background: $igem-blue url("/images/index/Vector_Proj.svg") no-repeat top;
    background-size: cover;
}

#team{
    color: $igem-blue;
    background: $white url("/images/index/index_team.svg") no-repeat top;
    background-size: cover;
    border: .4em solid #25bbbd;
}
#human{
    color: $white;
    background: $igem-blue url("/images/index/outreach.svg") no-repeat center;
    background-size: contain;
    h1{

    }
}
#lastyear{
    color: $white;
    background: $blue-2 url("/images/index/oldLogo.svg") no-repeat center;
    background-size: cover;
}

#outreach-content{
    .row{
        img{
            width: 100%;
        }
    }
}

.header-long{
    font-family: $droid-sans;
    color: $blue-2;
}
.long{
    font-family: $body-font;
    font-size: 1.25em;
}
#foo-spon{
    img{
        width: 100%;
    }
}
#x{

}
#phage-parallax{
    position: relative;
    .initial-plasmid{
        width: 50%;
        position: absolute;
        img{
            width: 100%;
        }
    }
    #first{
        position: fixed;
        left: 100px;
        //left: 100px;
    }
    #second{
        right: 100px;
    }
    #step-1{
        height: 90vh;
        background: url("/images/phage/step-1.svg") rgba(0,0,0,0);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
        //background-attachment: fixed;
    }
    #combined{
        height: 130vh;
        background: url("/images/phage/combined.svg");
        background-size: -webkit-calc(20% - 75px);
        background-size:    -moz-calc(20% - 75px);
        background-size:     -ms-calc(20% - 75px);
        background-size:         calc(20% - 75px);
        
//        background-repeat: no-repeat;
//        background-position: center;
//        background-attachment: fixed;
        @include stellar-bg();
        img{
            @include centerH();
            
        }
        #cell-2{
            @include centerH();
        }
        #food{
            position: fixed;
        }
    }
    #phage{
        background: url("/images/phage/phage-head.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        height: 30vh;
        
    }

    #phage-transport{
        height: 200vh;
        background: url("/images/phage/phage.svg");
        @include stellar-bg();
        background-size: 25%;
        img{
            width: 130%;
            position: absolute;
        }
    }
    #cell-land{
        //background: url("/images/phage/Cell3.svg") no-repeat;
        background-size: cover;
        height: 70vh;
        img{
            width: 100%;
        }
    }
}



#parralax-test{
    height: 300vh;
    .background{
        z-index: -1;
        background: url("/images/phage/step-1.svg");
        //background: red;
        height: 70vh;
        background-attachment: fixed;
    }
    .content{
        width: 100%;
        z-index: 3;
        //background: black;
    }
}