/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "fonts";
@import "compass/reset";

$igem-blue: #FF0000;
$nav-hover: #006A6B;
$white: #FFFFFF;
$light-grey: #EEEEEE;
$red: #E41B15;

$nav-font-family: 'Mitr';
$nav-sub-font-family: 'Droid';
$head-font-family: 'Ubuntu-B';
$head-font-family-l: 'Ubuntu';
$body-font: 'PT';
@mixin nav-hover(){
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: $nav-hover;
    color: $white;
}
@mixin page-header{
    font-family: $head-font-family-l;
    font-size: 1.6em;
    line-height: 170%;
    color: $red;
}


body{
    background-color: $igem-blue;
}
p{
    font-family: $body-font;
    line-height: 140%;
    font-size: 1.0em;
    color: $white;
}

.navbar-default{
    background-color: $igem-blue;
    border: 0;
    height: 4em;
}
.nav{
    background-color: $igem-blue;
    a{
        font-family: $nav-font-family;
    }
    .sublink{
        font-family: $nav-sub-font-family;
        font-size: 0.95em;
    }
    .dropdown-menu{
        background-color: $white;
    }
    .sublink-head{
        font-size: 1em;
        font-weight: bold;
    }
    #Team, #Project, #Outreach, #Calendar{
        font-size: 1.0em;
        height: 4em;
        color: $white;
    }
    #Team:hover, #Project:hover, #Outreach:hover, #Calendar:hover, .nav-img:hover{
        @include nav-hover();
    }
}
.nav-image-wrap{
    height: 4em;
}
.nav-image-wrap:hover{
    @include nav-hover();
    background-color: $nav-hover;
}

.HERO{
    img{
        max-height: 100%;
        max-width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
.mdl-grid{
    .mdl-card__supporting-text{
        p{
            color: $red;
        }
    }
    .mdl-card__title{
        h2{
            font-family: $head-font-family-l;
            color: $igem-blue;
        }
    }
}


.jumbotron{
    background-color: transparent;
    border: 0;
    h1{
        text-align: center;
        font-family: $head-font-family;
        color: $white;
        @media screen and (max-width: 50em){
            font-size: 3em;
        }
    }
}

#plasmid{
    max-height: 536px;
    max-width: 536px;
    margin-left: 50%;
    transform: translateX(-50%);
    img{
             
    }
}
#faces-bank{
    img{
        width: 125px;
        height: 125px;
    }
}

#outreach-content{
    h1{
        @include page-header();
    }
}
#calendar-content{
    section{
        iframe{
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
#lyme-content{
    h1{
        @include page-header();
    }
}
#phage-content{
    h1{
        @include page-header();
    }
    img{
        max-width: 100%;
    }
}
#sponsor-content{
    .col-sm-6, .col-sm-12{
        img{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}