/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "fonts";
@import "mixins";
@import "colors";


*{
    z-index: 1;
}

body{
    background-color: $white;
}
p{
    font-family: $body-font;
    line-height: 140%;
    font-size: 1.0em;
    color: $nav-hover;
}

.navbar-default{
    background-color: $white;
    border: 0;
    height: 4em;
}
.nav{
    background-color: $white;
    a{
        font-family: $nav-font-family;
    }
    .sublink{
        font-family: $nav-sub-font-family;
        font-size: 0.95em;
    }
    .dropdown-menu{
        background-color: $white;
    }
    .sublink-head{
        font-size: 1em;
        font-weight: bold;
    }
    #Team, #Project, #Outreach, #Calendar{
        font-size: 1.0em;
        height: 4em;
        color: $igem-blue;
    }
    #Team:hover, #Project:hover, #Outreach:hover, #Calendar:hover, .nav-img:hover{
        @include nav-hover();
    }
}
.nav-image-wrap{
    height: 4em;
}
.nav-image-wrap:hover{
    @include nav-hover();
    background-color: $nav-hover;
}

.HERO{
    height: 100vh;
    img{
        //height: 80vh;
        height: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    z-index: 1;
}
#index-proj{
    @include index-bg();
    background-image: url(/images/project_Lyme/Lyme1.png);
}
#index-team{
    @include index-bg();
    background-image: url(/images/team/team2.jpg);
}
#index-outreach{
    @include index-bg();
    background-image: url(/images/outreach/lyme5k_1.png);
}
.index-parallax-banner{
    color: $igem-blue;
    font-family: $nav-font-family;
    text-align: center;
    font-size: 2.4em;
    padding: 1em;
    text-decoration: underline;
}





.jumbotron{
    background-color: transparent;
    border: 0;
    h1{
        text-align: center;
        font-family: $head-font-family;
        color: $igem-blue;
        @media screen and (max-width: 50em){
            font-size: 3em;
        }
    }
}

#plasmid{
    max-height: 536px;
    max-width: 536px;
    margin-left: 50%;
    transform: translateX(-50%);
    img{
             
    }
}
#faces-bank{
    img{
        width: 125px;
        height: 125px;
    }
}

#outreach-content{
    h1{
        @include page-header();
    }
}
#calendar-content{
    section{
        iframe{
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
#lyme-content{
    h1{
        @include page-header();
    }
}
#phage-content{
    h1{
        @include page-header();
    }
    img{
        max-width: 100%;
    }
}
#sponsor-content{
    .col-sm-6, .col-sm-12{
        img{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}