/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "Mitr";
  src: url("../../fonts/Mitr-Light.ttf");
}
@font-face {
  font-family: "Droid";
  src: url("../../fonts/DroidSans.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu-B";
  src: url("../../fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "PT";
  src: url("../../fonts/PT_Sans.ttf");
}
/* line 5, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 34, ../sass/screen.scss */
body {
  background-color: #005253;
}

/* line 37, ../sass/screen.scss */
p {
  font-family: "PT";
  line-height: 140%;
  font-size: 1.0em;
  color: #FFFFFF;
}

/* line 44, ../sass/screen.scss */
.navbar-default {
  background-color: transparent;
  border: 0;
  height: 4em;
}

/* line 50, ../sass/screen.scss */
.nav a {
  font-family: "Mitr";
}
/* line 53, ../sass/screen.scss */
.nav .sublink {
  font-family: "Droid";
  font-size: 0.95em;
}
/* line 57, ../sass/screen.scss */
.nav .sublink-head {
  font-size: 1em;
  font-weight: bold;
}
/* line 61, ../sass/screen.scss */
.nav #Team, .nav #Project, .nav #Outreach, .nav #Calendar {
  font-size: 1.0em;
  height: 4em;
  color: #FFFFFF;
}
/* line 66, ../sass/screen.scss */
.nav #Team:hover, .nav #Project:hover, .nav #Outreach:hover, .nav #Calendar:hover, .nav .nav-img:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #006A6B;
  color: #FFFFFF;
}

/* line 70, ../sass/screen.scss */
.nav-image-wrap {
  height: 4em;
}

/* line 73, ../sass/screen.scss */
.nav-image-wrap:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #006A6B;
  color: #FFFFFF;
  background-color: #006A6B;
}

/* line 79, ../sass/screen.scss */
.HERO img {
  max-height: 100%;
  max-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* line 88, ../sass/screen.scss */
.mdl-grid .mdl-card__supporting-text p {
  color: #E41B15;
}
/* line 93, ../sass/screen.scss */
.mdl-grid .mdl-card__title h2 {
  font-family: "Ubuntu";
  color: #005253;
}

/* line 101, ../sass/screen.scss */
.jumbotron {
  background-color: transparent;
  border: 0;
}
/* line 104, ../sass/screen.scss */
.jumbotron h1 {
  text-align: center;
  font-family: "Ubuntu-B";
  color: #FFFFFF;
}

/* line 111, ../sass/screen.scss */
#plasmid {
  height: 536px;
  width: 536px;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* line 121, ../sass/screen.scss */
#faces-bank img {
  width: 125px;
  height: 125px;
}

/* line 128, ../sass/screen.scss */
#outreach-content h1 {
  font-family: "Ubuntu";
  font-size: 1.6em;
  line-height: 170%;
  color: #E41B15;
}

/* line 134, ../sass/screen.scss */
#calendar-content section iframe {
  margin-left: 50%;
  transform: translateX(-50%);
}

/* line 141, ../sass/screen.scss */
#lyme-content h1 {
  font-family: "Ubuntu";
  font-size: 1.6em;
  line-height: 170%;
  color: #E41B15;
}

/* line 146, ../sass/screen.scss */
#phage-content h1 {
  font-family: "Ubuntu";
  font-size: 1.6em;
  line-height: 170%;
  color: #E41B15;
}
/* line 149, ../sass/screen.scss */
#phage-content img {
  max-width: 100%;
}
